mat-card{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

mat-card-actions{
  margin-left:80%;
}

.campos{
  padding-top: 15px;
  padding-left: 50px;
  width: 28%;
}

.min-width {
  width: 100%;
  min-width: 200px;
}

