<mat-card>
  <mat-toolbar color="accent"> Lista de Participantes </mat-toolbar>

  <div
    *ngIf="participantes_lista$ | async as participantes_lista; else loading"
  >
    <table
      mat-table
      [dataSource]="participantes_lista"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let participante">{{ participante.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let participante">{{ participante.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let participante">
          {{ participante.telefone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let participante">{{ participante.sexo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner> </mat-spinner>
    </div>
  </ng-template>
</mat-card>
